In [114]:
import pandas as pd
import numpy as np

customer_da = pd.read_csv("/Users/leozinho.air/Desktop/ironhack_da/class_04/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv")
customer_da

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [115]:
# 1. Show the dataframe shape.

customer_da.shape # (10910, 26)

(10910, 26)

In [116]:
# 2. Standardize header names.

columns = []

for i in range(len(customer_da.columns)):
    columns.append(customer_da.columns[i].lower().replace(' ', '_'))

customer_da.columns = columns

customer_da

# Dropping the column 'unnamed:_0'

customer_da = customer_da.drop(['unnamed:_0'], axis = 1)

customer_da

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [117]:
# Which columns are numerical?
# Which columns are categorical?

# customer_da.dtypes

df_numerical = customer_da.select_dtypes(include='number')

columns_num = []

for i in range(len(df_numerical.columns)):
    columns_num.append(df_numerical.columns[i])
print('Numerical columns are: ', columns_num)

print('\n')
df_categorical = customer_da.select_dtypes(include='object')

columns_cat = []

for i in range(len(df_categorical.columns)):
    columns_cat.append(df_categorical.columns[i])
print('Categorical columns are: ', columns_cat)

Numerical columns are:  ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'total_claim_amount']


Categorical columns are:  ['customer', 'state', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'location_code', 'marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type']

In [118]:
# Check and deal with `NaN` values.

customer_da.isna()

customer_da.isna().sum().sum() # 9254 missing values

# I store the 'Nan' values in a variable and use it as a condition

condition = customer_da.isnull().any(axis = 1) # customer_da.isnull() is a DataFrame operation that checks for NaN (missing) values in each cell of the DataFrame customer_da. It returns a DataFrame of the same shape as customer_da but with Boolean values, where True indicates a NaN value and False indicates a non-NaN value.

customer_da[condition]

# Percentage of Nan values 

customer_da.isna().sum()/ len(customer_da)

customer_da.isna().sum()

# Understanding the meaning of the Nan values:

#customer_da[condition]['response']    
#customer_da[condition]['months_since_last_claim']
#customer_da[condition]['state']
#customer_da[condition]['months_since_last_claim']
#customer_da[condition]['number_of_open_complaints']
#customer_da[condition]['vehicle_class']
#customer_da[condition]['vehicle_size']
#customer_da[condition]['vehicle_type']

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [119]:
customer_da['vehicle_type'].unique() 

# The only values are Nan or vehicle class 'A', i will opt to create a new df without the column.

customer_da = customer_da.drop(['vehicle_type'], axis = 1)

customer_da

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [120]:
customer_da.isna().sum()

# Checking the unique values for better understanding

customer_da['state'].unique() # 'Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'

customer_da['response'].unique() # 'No', 'Yes', nan

customer_da['months_since_last_claim'].unique() # Here i could put the mean of all the values

customer_da['number_of_open_complaints'].unique()# 0., nan,  3.,  1.,  2.,  4.,  5 -> here, i also could use the mean to fill

customer_da['vehicle_class'].unique()  # 'Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car','Luxury SUV', nan

customer_da['vehicle_size'].unique() # 'Medsize', 'Small', 'Large', nan

# 1° solution: 

# I will only fill the Nan of 'months_since_last_claim' and 'number_of_open_complaints' since they are numerical.

# customer_da['months_since_last_claim'] = customer_da['months_since_last_claim'].fillna(customer_da['months_since_last_claim'].mean())

# customer_da['number_of_open_complaints'] = customer_da['number_of_open_complaints'].fillna(customer_da['number_of_open_complaints'].mean())


# 2° solution: (what i chose)

customer_da['income'].sum() # 409,520,867 total income

customer_no_nan = customer_da.dropna()

customer_no_nan['income'].sum() # 343,962,509 income with no Nan -> -15 % of the original df


# From now i will use the 'customer_no_nan' df

343962509

In [121]:
# Datetime format - Extract the months from the dataset and store in a separate column. 
# Then filter the data to show only the information for the first quarter , ie. January, February and March.
# _Hint_: If data from March does not exist, consider only January and February.

# Converting to date-time dtype

customer_no_nan['effective_to_date'] = pd.to_datetime(customer_no_nan['effective_to_date'])


customer_no_nan['month'] = customer_no_nan['effective_to_date'].dt.month


customer_no_nan

/var/folders/yb/9gxqx77n4nq_ls51pf25lnvw0000gn/T/ipykernel_64370/3475213289.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_no_nan['effective_to_date'] = pd.to_datetime(customer_no_nan['effective_to_date'])
/var/folders/yb/9gxqx77n4nq_ls51pf25lnvw0000gn/T/ipykernel_64370/3475213289.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_no_nan['month'] = customer_no_nan['effective_to_date'].dt.month

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2

In [122]:
customer_no_nan['month'].loc[1000:1050] # March doesn't seem to be present. Let's make some more line to check it out

march_present = customer_no_nan[customer_no_nan['month'] == 3] # I made a variable that gives us  a bool values if it finds the month of March inside the df

if not march_present.empty: # This check if it's empty or not. If it's not empty, it means there are records for March.
    print('March is not present')
else:
    print('There is not March inside.')

There is not March inside.

In [123]:

condition = (customer_no_nan['month'] == 1) | (customer_no_nan['month'] == 2)

customer_Q1 = customer_no_nan[condition]

customer_Q1

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2

In [124]:
# Now i convert the month number in 'number' column to the actual month names

month_names = []

month_name_list = ['January', 'February']

# Iterate through the month column and convert to month names
for i in customer_Q1['month']:
    month_name = month_name_list[i - 1]
    month_names.append(month_name)

# Create a new column in the DataFrame with the month names
customer_Q1['month'] = month_names

customer_Q1

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,January
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,January
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,February
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,January
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,February
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,February

In [125]:
# BONUS: Put all the previously mentioned data transformations into a function.


def df_cleaning(original_df):
    '''
    The following function will execute these cleaning operations:
    
        1. Show the dataframe shape.
        2. Standardize header names.
        3. Which columns are numerical?
        4. Which columns are categorical?
        5. Check and deal with `NaN` values.
        6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
    '''
    
    # 1. Show the dataframe shape.
    print('This is the df shape', original_df.shape)
    
    print('\n')
    
    # 2. Standardize header names.
    
    original_df = original_df.drop(['Unnamed: 0'], axis = 1) # Dropping the column 'unnamed:_0'
    
    columns = []

    for i in range(len(original_df.columns)):
        columns.append(original_df.columns[i].lower().replace(' ', '_'))

    original_df.columns = columns
    
    # 3. Which columns are numerical?
    # 4. Which columns are categorical?
    
    df_numerical = original_df.select_dtypes(include='number')

    columns_num = []

    for i in range(len(df_numerical.columns)):
        columns_num.append(df_numerical.columns[i])
    print('Numerical columns are: ', columns_num)

    print('\n')
    df_categorical = original_df.select_dtypes(include='object')

    columns_cat = []

    for i in range(len(df_categorical.columns)):
        columns_cat.append(df_categorical.columns[i])
    print('Categorical columns are: ', columns_cat)
    
    # 5. Check and deal with `NaN` values.
    
    original_df = original_df.drop(['vehicle_type'], axis=1) # This line works only if it present the 'vehicle_type' column

    df_no_nan = original_df.dropna() # Here i am dropping all of Nan values because of the properties of this specific df

    # 6. Date-time convertion + creating 'month' column + filtering df by Q1
    
    df_no_nan['effective_to_date'] = pd.to_datetime(df_no_nan['effective_to_date'])


    df_no_nan['month'] = df_no_nan['effective_to_date'].dt.month

    # Let's check if March present. If it is present i will filter Q1 just by January and February
    
    march_present = df_no_nan[df_no_nan['month'] == 3]
    
    if not march_present.empty:
        condition = (df_no_nan['month'] == 1) | (df_no_nan['month'] == 2)

        customer_Q1 = df_no_nan[condition]
    else:
        condition = (df_no_nan['month'] >= 1) | (df_no_nan['month'] <= 3)

        customer_Q1 = df_no_nan[condition]
    
    month_names = []

    month_name_list = ['January', 'February', 'March']

    # Iterate through the month column and convert to month names
    for i in customer_Q1['month']:
        month_name = month_name_list[i - 1]
        month_names.append(month_name)

    # Create a new column in the DataFrame with the month names
    customer_Q1['month'] = month_names

    return customer_Q1

In [126]:
# The following function works only on the raw dataframe stored in 'marketing_customer_analysis.csv' file

df_cleaning(customer_da)

This is the df shape (10910, 24)

KeyError: "['Unnamed: 0'] not found in axis"