In [1]:
import pandas as pd
import numpy as np

customer_da = pd.read_csv("/Users/leozinho.air/Desktop/ironhack_da/class_04/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv")
customer_da

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
# BONUS: Put all the previously mentioned data transformations into a function.


def df_cleaning(original_df):
    '''
    The following function will execute these cleaning operations:
    
        1. Show the dataframe shape.
        2. Standardize header names.
        3. Which columns are numerical?
        4. Which columns are categorical?
        5. Check and deal with `NaN` values.
        6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
    '''
    
    # 1. Show the dataframe shape.
    print('This is the df shape', original_df.shape)
    
    print('\n')
    
    # 2. Standardize header names.
    
    original_df = original_df.drop(['Unnamed: 0'], axis = 1) # Dropping the column 'unnamed:_0'
    
    columns = []

    for i in range(len(original_df.columns)):
        columns.append(original_df.columns[i].lower().replace(' ', '_'))

    original_df.columns = columns
    
    # 3. Which columns are numerical?
    # 4. Which columns are categorical?
    
    df_numerical = original_df.select_dtypes(include='number')

    columns_num = []

    for i in range(len(df_numerical.columns)):
        columns_num.append(df_numerical.columns[i])
    print('Numerical columns are: ', columns_num)

    print('\n')
    df_categorical = original_df.select_dtypes(include='object')

    columns_cat = []

    for i in range(len(df_categorical.columns)):
        columns_cat.append(df_categorical.columns[i])
    print('Categorical columns are: ', columns_cat)
    
    # 5. Check and deal with `NaN` values.
    
    original_df = original_df.drop(['vehicle_type'], axis=1) # This line works only if it present the 'vehicle_type' column

    df_no_nan = original_df.dropna() # Here i am dropping all of Nan values because of the properties of this specific df

    # 6. Date-time convertion + creating 'month' column + filtering df by Q1
    
    df_no_nan['effective_to_date'] = pd.to_datetime(df_no_nan['effective_to_date'])


    df_no_nan['month'] = df_no_nan['effective_to_date'].dt.month

    # Let's check if March present. If it is present i will filter Q1 just by January and February
    
    march_present = df_no_nan[df_no_nan['month'] == 3]
    
    if not march_present.empty:
        condition = (df_no_nan['month'] == 1) | (df_no_nan['month'] == 2)

        customer_Q1 = df_no_nan[condition]
    else:
        condition = (df_no_nan['month'] >= 1) | (df_no_nan['month'] <= 3)

        customer_Q1 = df_no_nan[condition]
    
    month_names = []

    month_name_list = ['January', 'February', 'March']

    # Iterate through the month column and convert to month names
    for i in customer_Q1['month']:
        month_name = month_name_list[i - 1]
        month_names.append(month_name)

    # Create a new column in the DataFrame with the month names
    customer_Q1['month'] = month_names

    return customer_Q1

In [5]:
# The following called function works only on the raw dataframe stored in 'marketing_customer_analysis.csv' file

df_cleaning(customer_da)

This is the df shape (10910, 26)


Numerical columns are:  ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'total_claim_amount']


Categorical columns are:  ['customer', 'state', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'location_code', 'marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type']

/var/folders/yb/9gxqx77n4nq_ls51pf25lnvw0000gn/T/ipykernel_67166/1331332629.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_nan['effective_to_date'] = pd.to_datetime(df_no_nan['effective_to_date'])
/var/folders/yb/9gxqx77n4nq_ls51pf25lnvw0000gn/T/ipykernel_67166/1331332629.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_nan['month'] = df_no_nan['effective_to_date'].dt.month

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,January
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,January
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,February
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,January
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,February
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,February