In [1]:
# Import file

import pandas as pd
df = pd.read_excel(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-customer-analysis-round-2\files_for_lab\excel_files\marketing_customer_analysis.xlsx")
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [2]:
# Show the dataframe shape

df.shape

(10910, 26)

In [3]:
# Standardize header names

cols = []
for i in range(len(df.columns)):
    cols.append(df.columns[i].lower().replace(" ","_"))
df.columns = cols
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
# Which columns are numerical? 
# unnamed:_0, customer_lifetime_value, income, monthly_premium_auto, months_since_last_claim, months_since_last_claim, number_of_open_complaints, number_of_policies, total_claim_amount  

# Which columns are categorical?
# The others

df.dtypes

unnamed:_0                                int64
customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                 float64
months_since_policy_inception             int64
number_of_open_complaints               float64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
dtype: object

In [5]:
# Check NaN values

print("Total NaN values:", df.isna().sum().sum())
df.isna().sum()

Total NaN values: 9254

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [6]:
# Unique values

print("state unique values:", df["state"].unique())
print("response unique values:", df["response"].unique())
print("months_since_last_claim:", df["months_since_last_claim"].unique())
print("number_of_open_complaints:", df["number_of_open_complaints"].unique())
print("vehicle_class unique values:", df["vehicle_class"].unique())
print("vehicle_size unique values:", df["vehicle_size"].unique())
print("vehicle_type unique values:", df["vehicle_type"].unique())

state unique values: ['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']
response unique values: ['No' 'Yes' nan]
months_since_last_claim: [ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]
number_of_open_complaints: [ 0. nan  3.  1.  2.  4.  5.]
vehicle_class unique values: ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]
vehicle_size unique values: ['Medsize' 'Small' 'Large' nan]
vehicle_type unique values: [nan 'A']

In [7]:
# Deal with NaN values

initial_income = df["income"].sum()
print("Initial total income:", initial_income)

df["months_since_last_claim"].fillna(int(df["months_since_last_claim"].mean()), inplace = True)
df["number_of_open_complaints"].fillna(int(df["number_of_open_complaints"].mean()), inplace = True)
df["vehicle_type"].fillna("A", inplace = True)
df = df.dropna()
df = df.reset_index(drop = True)

final_income = df["income"].sum()
print("Final total income:", final_income)
print("Percentage of loss income:", int((1-final_income/initial_income)*100), "%")
df

Initial total income: 409520867
Final total income: 363797244
Percentage of loss income: 11 %

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9683,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
9684,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
9685,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
9686,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A
9687,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [8]:
# Extract the months from the dataset and store in a separate column

import time

count = 0
df["month"] = df["effective_to_date"]
for f in range(len(df["effective_to_date"])): 
    df["month"][count] = df["effective_to_date"][count].month
    count += 1
    
df

C:\Users\joaoa\AppData\Local\Temp\ipykernel_14236\2565665274.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"][count] = df["effective_to_date"][count].month

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9683,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
9684,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
9685,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
9686,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
9687,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [9]:
# Filter the data to show only the information for the first quarter

condition = df['month'] < 4
first_quarter = df[condition]
first_quarter

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9683,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
9684,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
9685,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
9686,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
9687,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [10]:
# Put all the previously mentioned data transformations into a function
def trans_function():
    import pandas as pd
    df = pd.read_excel(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-customer-analysis-round-2\files_for_lab\excel_files\marketing_customer_analysis.xlsx")
    
    print("Initial shape:", df.shape)
    
    cols = []
    for i in range(len(df.columns)):
        cols.append(df.columns[i].lower().replace(" ","_"))
    df.columns = cols
    
    print("Total NaN values:", df.isna().sum().sum())
     
    initial_income = df["income"].sum()
    print("Initial total income:", initial_income)
    
    df["months_since_last_claim"].fillna(int(df["months_since_last_claim"].mean()), inplace = True)
    df["number_of_open_complaints"].fillna(int(df["number_of_open_complaints"].mean()), inplace = True)
    df["vehicle_type"].fillna("A", inplace = True)
    df = df.dropna()
    df = df.reset_index(drop = True)
    
    final_income = df["income"].sum()
    print("Final total income:", final_income)
    print("Percentage of loss income:", int((1-final_income/initial_income)*100), "%")
    
    import time
    count = 0
    df["month"] = df["effective_to_date"]
    for f in range(len(df["effective_to_date"])): 
        df["month"][count] = df["effective_to_date"][count].month
        count += 1
    
    condition = df['month'] < 4
    first_quarter = df[condition]
    print("First quarter:")
    print(first_quarter)

In [11]:
# Aplicar função

trans_function()

Initial shape: (10910, 26)
Total NaN values: 9254
Initial total income: 409520867
Final total income: 363797244
Percentage of loss income: 11 %

C:\Users\joaoa\AppData\Local\Temp\ipykernel_14236\4115575288.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"][count] = df["effective_to_date"][count].month

First quarter:
      unnamed:_0 customer       state  customer_lifetime_value response  \
0              0  DK49336     Arizona              4809.216960       No
1              1  KX64629  California              2228.525238       No
2              2  LZ68649  Washington             14947.917300       No
3              3  XL78013      Oregon             22332.439460      Yes
4              4  QA50777      Oregon              9025.067525       No
...          ...      ...         ...                      ...      ...
9683       10904  QI63521      Nevada             19228.463620       No
9684       10905  FE99816      Nevada             15563.369440       No
9685       10906  KX53892      Oregon              5259.444853       No
9686       10907  TL39050     Arizona             23893.304100       No
9687       10908  WA60547  California             11971.977650       No

      coverage             education effective_to_date employmentstatus  \
0        Basic               College        2011-02-18         Employed
1        Basic               College        2011-01-18       Unemployed
2        Basic              Bachelor        2011-02-10         Employed
3     Extended               College        2011-01-11         Employed
4      Premium              Bachelor        2011-01-17    Medical Leave
...        ...                   ...               ...              ...
9683     Basic  High School or Below        2011-02-24       Unemployed
9684   Premium              Bachelor        2011-01-19       Unemployed
9685     Basic               College        2011-01-06         Employed
9686  Extended              Bachelor        2011-02-06         Employed
9687   Premium               College        2011-02-13         Employed

     gender  ...  number_of_policies     policy_type        policy  \
0         M  ...                   9  Corporate Auto  Corporate L3
1         F  ...                   1   Personal Auto   Personal L3
2         M  ...                   2   Personal Auto   Personal L3
3         M  ...                   2  Corporate Auto  Corporate L3
4         F  ...                   7   Personal Auto   Personal L2
...     ...  ...                 ...             ...           ...
9683      M  ...                   2   Personal Auto   Personal L2
9684      F  ...                   7   Personal Auto   Personal L1
9685      F  ...                   6   Personal Auto   Personal L3
9686      F  ...                   2  Corporate Auto  Corporate L3
9687      F  ...                   6   Personal Auto   Personal L1

      renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
0               Offer3          Agent          292.800000  Four-Door Car
1               Offer4    Call Center          744.924331  Four-Door Car
2               Offer3    Call Center          480.000000            SUV
3               Offer2         Branch          484.013411  Four-Door Car
4               Offer1         Branch          707.925645  Four-Door Car
...                ...            ...                 ...            ...
9683            Offer1         Branch          897.600000     Luxury SUV
9684            Offer3            Web         1214.400000     Luxury Car
9685            Offer2         Branch          273.018929  Four-Door Car
9686            Offer1            Web          381.306996     Luxury SUV
9687            Offer1         Branch          618.288849            SUV

      vehicle_size vehicle_type month
0          Medsize            A     2
1          Medsize            A     1
2          Medsize            A     2
3          Medsize            A     1
4          Medsize            A     1
...            ...          ...   ...
9683       Medsize            A     2
9684       Medsize            A     1
9685       Medsize            A     1
9686       Medsize            A     2
9687       Medsize            A     2

[9688 rows x 27 columns]