In [50]:
import pandas as pd
import numpy as np

customer_data = pd.read_csv(r'C:\Users\david\OneDrive\Ambiente de Trabalho\Iron Hack\ficheiros para LAB PANDA 2\marketing_customer_analysis.csv')
customer_data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [51]:
# STANDARDIZE HEADER NAMES

cols = []
for i in range(len(customer_data.columns)): 
    cols.append(customer_data.columns[i].lower().replace(' ', '_')) 
customer_data.columns = cols
customer_data

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [52]:
# QUESTION: WICH COLUMNS ARE NUMERICAL?

# ANSWER: unnamed:0, customer_lifetime_value, income, monthly_premium_auto, months_since_last_claim, monhths_since_policy_inception, numbber_of_open_complaints, number_of_policies, total_claim_amount.


customer_data.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [53]:
# QUESTION: WICH COLUMNS ARE CATEGORICAL ?

# ANSWER: customer, state, response, coverage, education, effective_to_date, empploymentstatus, gender, location_code, marital_status, policy_type, policy, renew_offer_type, sales_channel, vehicle_class, vehicle_size, vehicle_type
 
customer_data.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [54]:
# CHECK AND DEAL WITH NaN VALUES


customer_data['number_of_open_complaints'].unique()
customer_data['number_of_open_complaints'].count()

10277

In [55]:
# CHECK AND DEAL WITH NaN VALUES

# Lets now work with null values

customer_data.isnull()

customer_data.isna()

customer_data.isna().sum() 

customer_data.isna().sum().sum()

customer_data.dropna()

customer_data.isna().sum()

customer_data['number_of_open_complaints'] = customer_data['number_of_open_complaints'].fillna(customer_data['number_of_open_complaints'].mean())
customer_data.isna().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints           0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [64]:
# DATETIME FORMAT- EXTRACT THE MONTHS FROM THE DATASET AND STORE IN A SEPARATE COLUMN. THEN FILTER THE DATA TO SHOW ONLY THE REST OF THE QUARTER.
# ie. January, February, and March. Hint: IF DATA FROM MARCH DOES NOT EXIST, CONSIDER ONLY JANUARY AND FEBRUARY.



customer_data['effective_to_date'] = pd.to_datetime(customer_data['effective_to_date'])

customer_data['month'] = customer_data['effective_to_date'].dt.month

customer_data    # now i have i new column with months

# Filterinf the January, February, March month 


filtered_rows = customer_data[customer_data['month'] < 4]

print(filtered_rows)

def filter_rows_by_month(dataframe, condition):
    filtered_rows = dataframe[condition]
    return filtered_rows


filtered_data = filter_rows_by_month(customer_data, customer_data['month'] < 4)
print(filtered_data)

customer_data

       unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number_of_policies     policy_type        policy  renew_offer_type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle_type month
0              NaN     2
1              NaN     1
2                A     2
3                A     1
4              NaN     1
...            ...   ...
10905            A     1
10906            A     1
10907          NaN     2
10908            A     2
10909          NaN     1

[10910 rows x 27 columns]
       unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number_of_policies     policy_type        policy  renew_offer_type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle_type month
0              NaN     2
1              NaN     1
2                A     2
3                A     1
4              NaN     1
...            ...   ...
10905            A     1
10906            A     1
10907          NaN     2
10908            A     2
10909          NaN     1

[10910 rows x 27 columns]

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

In [65]:
customer_data['month'].count

<bound method Series.count of 0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: month, Length: 10910, dtype: int64>